/* {} */
* {
    box-sizing: border-box;
} 

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 20px;
    
   
}

.item {
   margin: 5px;
   padding: 24px;
   border-radius: 8px;
   flex: 0 0 100%;
   
   width: 250px;
  
}

.container .item:nth-child(1) {
    background-color: blueviolet;
    color: white;
}

.container .item:nth-child(2) {
    background-color: orangered;
    color: white;
}

.container .item:nth-child(3) {
    background-color: magenta;
    color: white;
}

.container .item:nth-child(4) {
    background-color: rgb(221, 45, 74);
    color: white;
}

.container .item:nth-child(5) {
    background-color: limegreen;
    color: white;
}


@media (max-width: 500px) {
 section {
   display: flex;
    overflow-x: scroll;
    width: 350px;
    scroll-snap-type: x mandatory; 
    scroll-snap-align: start; 
   }
}


