/* {} */
* {
    box-sizing: border-box;
} 

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 5px

}

.item {
   margin: 10px;
   padding: 20px;
   border-radius: 8px;
   flex: 0 0 100%;
   scroll-snap-align: start; 
 
}

.container .item:nth-child(1) {
    background-color: blueviolet;
    color: white;
}

.container .item:nth-child(2) {
    background-color: orangered;
    color: white;
}

.container .item:nth-child(3) {
    background-color: magenta;
    color: white;
}

.container .item:nth-child(4) {
    background-color: rgb(221, 45, 74);
    color: white;
}

.container .item:nth-child(5) {
    background-color: limegreen;
    color: white;
}


@media (max-width: 500px) {
 section {
   display: flex;
   overflow-x: scroll;
   scroll-snap-type: x mandatory; 
   padding: 20px;
   }
}


